.playing-card {
    height: 80px;
    width: var(--chakra-sizes-12);
    display: flex;
    flex-direction: column;
    border: 2px solid var(--chakra-colors-purple-400);
    color: var(--chakra-colors-purple-400);
    border-radius: 10px;

    &:hover {
        cursor: pointer;
    }

    &.selected {
        background-color: var(--chakra-colors-purple-400);
        color: black;
    }

    .playing-card__content {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--chakra-fontSizes-xl);
        font-weight: bold;
    }
}